* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
  display: flex;
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0px 1px 25px rgb(152, 150, 150);
  background-color: #f0f0f0;
  /* flex-wrap: wrap; */
}

.slider {
    margin: 0;
    padding: 0;
}