* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* padding: 10px 30px; */
  box-shadow: 0px 1px 25px rgb(152, 150, 150);
  /* background-color: #f0f0f0; */
  background-color: rgba(0,0,0,0.90) !important;
  color: white;
  padding: 5px 0;
}
.navbar * {
  color: white;
}

.navbar .links {
  text-decoration: none !important;
}

.slider {
    margin: 0;
    padding: 0;
}

.blk_typo {
  background-color: rgba(0,0,0,.92);
  /* background-color: #E3E3E3; */
  /* padding: 20px; */
  padding: 10px 0;
  color: white;
  /* color: rgba(0,0,0,.7); */
  font-weight: 900;
  text-align: center;
}

.footer {
  margin-top: 40px;
  padding: 100px;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
}
.social {
  margin-top: 20px;
  margin-left: 10px;
}
.footer .social > * > * {
  font-size: 40px;
  margin-right: 10px;
}
.col2, .col3, .col4 {
  color: #DCFEF2;
}

#media {
  background-color: red;
}
.news {
  background-color: #E3E3E3;
  color: rgba(0,0,0,.7);
  font-weight: 900;
}
.course-main-page {
  margin-top:0 !important;
}

.about-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 30px;
}
.about-hero::before{
    background-image: url('https://www.saylaniwelfare.com/static/media/page_header.ee6c9895d66d7d7cce3a.png');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}